.logo-text {
  color: red;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  text-decoration: none;
}

.header__item {
  color: blue;
  font-weight: 500;
  font-size: 160px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
