.hero__title {
  font-weight: 700;
  font-size: 43px;
  line-height: 1.18;
  color: #2c2c2c;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
}

.hero__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;
  background: #bbf330;
  border-radius: 30px;
}
