.hero__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    color: #2C2C2C;
}

.hero__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #2C2C2C;
}

.hero__button {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    color: #2C2C2C;
    background: #BBF330;
    border-radius: 30px;
}